/* App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 0.1s; /* Adiciona uma transição suave para a mudança de cor de fundo */
}

.container {
  position: relative;
}

.music-image {
  width: 300px;
  height: 300px;
  cursor: pointer;
  border-radius: 200px;
  box-shadow: 0 4px 8px rgba(12, 12, 12, 0.747);
  transition: transform 0.2s; /* Adiciona uma transição suave para a transformação */
}

.music-image.playing {
  transform: scale(0.95); /* Reduz ligeiramente o tamanho da imagem quando estiver tocando */
}

